---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/guides/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {% for cat in site.categories %}
  <url>
    <loc>{{ site.url }}/categories/{{ cat.slug }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
  {% for guide in collections.guides %}
  <url>
    <loc>{{ site.url }}{{ guide.url }}</loc>
    <lastmod>{{ guide.date | dateFormat }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}
</urlset>
